<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899274430707-a5e22bm2i3n538an27dhihojcm2l205q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899274430707-a5e22bm2i3n538an27dhihojcm2l205q</string>
	<key>API_KEY</key>
	<string>AIzaSyAPf5BTPSYsL5EqPcWxndAkudFT_QcPozI</string>
	<key>GCM_SENDER_ID</key>
	<string>899274430707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oauth.example</string>
	<key>PROJECT_ID</key>
	<string>aoflutteroauth</string>
	<key>STORAGE_BUCKET</key>
	<string>aoflutteroauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899274430707:ios:aafdb7e45e7ce2292ebf86</string>
</dict>
</plist>